body {
    background-color: papayawhip;
    overflow: hidden;
}

.freakydots {
    position: absolute;

    /* top and left need to be set from the beginning
     * to be able to read the values, otherwise return value
     * varies between browsers */
    left: 0px;
    top: 0px;

    cursor: cell;

    width: 90%;
    height: 90%;

    background-image: url("../img/out.png");
    background-size: 300% auto;
    background-origin: content-box;
    margin: 5%;
}

a {
    color: papayawhip;
}
